<!DOCTYPE html>

<html>
<head>

    <link href="~/Lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Mountains+of+Christmas" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>
</head>
<body>
    
        @Html.Partial("_navigation.cshtml")
        @RenderBody()
    
</body>
</html>
