<!DOCTYPE html>

<html>
<head>

    <link href="~/Lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Lib/bootstrap/dist/js/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @Html.Partial("_navigation.cshtml")
        @RenderBody()
    </div>
</body>
</html>
