@using Microsoft.AspNetCore.Identity
@using _2dv610_TDD.Models.Authentication

@inject SignInManager<AuthUser> SignInManager
@inject UserManager<AuthUser> UserManager

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="order-1 order-md-0">
        <h1 class="pr-5">@ViewBag.Title</h1>
    </div>
    <div class="w-100 order-2">
        @if (SignInManager.IsSignedIn(User))
        {
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a asp-controller="WishList" asp-action="WishList">WishList</a>

                </li>
            </ul>
        }
    </div>

    <div class="navbar-collapse collapse w-100 order-3">
        @if (SignInManager.IsSignedIn(User))
        {
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                   Welcome @UserManager.GetUserName(User);
                </li>
                <li class="nav-item">
                    <form action="/Authentication/SignOut" method="post">
                        <button type="submit">SignOut</button>
                    </form>

                </li>
            </ul>
        }
        else
        {
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/Authentication/LogIn" class="nav-link">LogIn</a>
                </li>
                <li class="nav-item">
                    <a href="/Authentication/register" class="nav-link">Register</a>
                </li>
            </ul>
        }
    </div>
</nav>