
@{
    ViewData["Title"] = "Index";
}
<div class="mx-auto w-50">
    <h1>WishList</h1>
    <h3>Welcome</h3>


    On This site you are able to create your own wishlist, The list is based on the 4 Categories

    <ol>
        <li>Need</li>
        <ul>
            <li>Things You really need and will use </li>
        </ul>

        <li>Want</li>
        <ul>
            <li>Things that you want but not really need</li>
        </ul>

        <li>Read</li>
        <ul>
            <li>Things you really want to read</li>
        </ul>

        <li>Wear</li>
        <ul>
            <li>Cloths and other things you can wear</li>
        </ul>
    </ol>

    <p>Login or Register to start you own WishList</p>
</div>