
@model _2dv610_TDD.Models.UserViewModel
<div class="wishList">
    <h1>Merry Christmas</h1>
    <h2>Letter To Santa</h2>
    <form action="/" method="post">
        <div class="row">
            <fieldset class="col">
                <div class="mx-auto w-75">
                    <h2>Need</h2>
                    <span>
                        1:<input name="need1" value="" />
                        Pris:<input class="price" name="need1price" value="" />
                    </span>
                    <span>
                         2:<input name="need2" value=""/>
                        Pris:<input class="price" name="need2price" value=""/>
                    </span>
                    <span>
                        3:<input name="need3" value="" />
                        Pris:<input class="price" name="need3price" value="" />
                    </span>
                    <span> 
                        4:<input name="need4" value="" />
                        Pris:<input class="price" name="need4price" value="" />
                     </span>
                    <span>  
                        5:<input name="need5" value="" />
                        Pris:<input class="price" name="need5price" value="" />
                    </span>
                </div>
            </fieldset>
            <fieldset class="col">
                <div class="mx-auto w-75">
                    <h2>Want</h2>
                        <span>
                            1:<input name="want1" value="" />
                            Pris:<input class="price" name="want1price" value="" />
                        </span>
                         <span>
                             2:<input name="want2" value="" />
                             Pris:<input class="price" name="want2price" value="" />
                         </span>
                         <span>
                             3:<input name="want3" value="" />
                             Pris:<input class="price" name="want3price" value="" />
                         </span>
                         <span>
                             4:<input name="want4" value="" />
                             Pris:<input class="price" name="want4price" value="" />
                         </span>
                         <span>
                             5:<input name="want5" value="" />
                             Pris:<input class="price" name="want5price" value="" />
                         </span>


</div>
            </fieldset>
        </div>
        <div class="row w-100">
            <fieldset class="col">
                <div class="mx-auto w-75">
                    <h2>Read</h2>
                    <span>
                        1:<input name="read1" value=""/>
                        Pris:<input class="price" name="read1price" value=""/>
                    </span>
                    <span>
                        2:<input name="read2" value=""/>
                        Pris:<input class="price" name="read2price" value=""/>
                    </span>
                    <span>
                        3:<input name="read3" value=""/>
                        Pris:<input class="price" name="read3price" value=""/>
                    </span>
                    <span>
                        4:<input name="read4" value=""/>
                        Pris:<input class="price" name="read4price" value=""/>
                    </span>
                    <span>
                        5:<input name="read5" value=""/>
                        Pris:<input class="price" name="read5price" value=""/>
                    </span>
                </div>
            </fieldset>

            <fieldset class="col">
                <div class="mx-auto w-75">
                    <h2>Wear</h2>
                    <span>
                        1:<input name="wear1" value="" />
                        Pris:<input class="price" name="wear1price" value="" />
                    </span>
                    <span>
                        2:<input name="wear2" value="" />
                        Pris:<input class="price" name="wear2price" value="" />
                    </span>
                    <span>
                        3:<input name="wear3" value="" />
                        Pris:<input class="price" name="wear3price" value="" />
                    </span>
                    <span>
                        4:<input name="wear4" value="" />
                        Pris:<input class="price" name="wear4price" value="" />
                    </span>
                    <span>
                        5:<input name="wear5" value="" />
                        Pris:<input class="price" name="wear5price" value="" />
                    </span>
                </div>
            </fieldset>
        </div>
        <button type="submit" class="btn text-right save">Save</button>
    </form>
</div>